.container{ 
    width: 900px;
    background-color: rgb(201, 198, 198);
}
p{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div{
    /* width: 800px; */
    padding: 15px;
    margin-top: 15px;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(47, 47, 47);
}
img{
    height: 200px;
}
#flex1{
    background-color: rgb(83, 126, 233);
    display: flex;
    justify-content: space-between ;
}
#flex2{
    background-color: rgb(229, 135, 225);
    display: flex;
    justify-content: space-evenly ;
}
#flex3{
    background-color: white;
    display: flex;
    justify-content: space-around ;
}