.container{
    width: 500px;
    position: relative;
    top: 25px;
    left: 50px;
}
.top{
    background-color: rgb(52, 179, 179);
    height: 85px;
    border-radius: 3px;
}
.profile{
    height: 70px;
    border: 2px solid black;
    border-radius: 50%;
    padding:2px;
    background-color: white;
    position: relative;
    top: 45px;
    left: 25px;
}
.description{
    border: 3px solid grey;
    border-top: 0px;
    height: 200px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
    height: 15px;
    margin-right: 10px;
}